.idea
.vscode
cmake-build-*
/build
/bin
/logs
/install
/ConanPresets.json



.env



pycache
.venv
__pycache__

.venv_mp/
*.pyc
*.pyo
*.pyd
env/
venv/
.qwen
.voice-model
interface/data/chat_history.json
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/README
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/am/final.mdl
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/conf/mfcc.conf
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/conf/model.conf
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/graph/disambig_tid.int
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/graph/Gr.fst
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/graph/HCLr.fst
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/graph/phones/word_boundary.int
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/ivector/final.dubm
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/ivector/final.ie
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/ivector/final.mat
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/ivector/global_cmvn.stats
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/ivector/online_cmvn.conf
problem-solver/samples/VoiceInput/voice-model/vosk-model-small-ru-0.22/ivector/splice.conf
problem-solver/samples/GesturesInput/models/hand_landmarker.task
QWEN.md
voice-model