.idea
.vscode
cmake-build-*
/build
/bin
/logs
/install
/ConanPresets.json



.env



pycache
.venv
__pycache__

.venv_mp/
*.pyc
*.pyo
*.pyd
env/
venv/
.qwen
.voice-model
interface/data/chat_history.json
interface/data/settings_config.json
voice-model/
QWEN.md
problem-solver/samples/GesturesInput/models/hand_landmarker.task
snakers4_silero-models_master
trusted_list
models/